
.App {
    text-align: center;
    margin-top: 50px;
  }

  
  button {
    margin-top: 10px;
  }
  
  .signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f9f9f9;
    padding: 1rem;
  }
  form {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }

  form div {
    margin-bottom: 1rem;
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input:focus {
    border-color: #007BFF;
    outline: none;
  }

  
  button {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    background-color: #0C416A;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0C416A;
  }
  




  /* =============================== end of-=codiappstyle */